## Make Tennis .db

In [ ]:
import sqlite3

tennis = pd.read_excel('../Sports-Data/Tennis Major Results.xlsx',
                      sheet_name=2)

tennis.head()

In [ ]:
conn2 = sqlite3.connect('../Sports-Data/tennis.db')

conn.execute(
    """SELECT *
    FROM sqlite_master"""
).fetchall()

In [ ]:
tennis2 = tennis.rename(lambda x: x.replace(' ', '_'), axis=1)

tennis2.columns

In [ ]:
tennis3 = tennis2.drop(['QF_Losses', 'SF_Losses', 'F_Losses',
                       'QF_Pct', 'SF_Pct', 'F_Pct', 'Aus_QF_Losses',
                        'Aus_SF_Losses', 'Aus_F_Losses', 'Aus_QF_Pct',
                        'Aus_SF_Pct', 'Aus_F_Pct', 'Fr_QF_Losses',
                        'Fr_SF_Losses', 'Fr_F_Losses', 'Fr_QF_Pct',
                        'Fr_SF_Pct', 'Fr_F_Pct', 'Wim_QF_Losses',
                        'Wim_SF_Losses', 'Wim_F_Losses', 'Wim_QF_Pct',
                        'Wim_SF_Pct', 'Wim_F_Pct', 'US_QF_Losses',
                        'US_SF_Losses', 'US_F_Losses', 'US_QF_Pct',
                        'US_SF_Pct', 'US_F_Pct'
                       ], axis=1)

In [ ]:
tennis3.to_sql('tennis_simple', conn2)

In [ ]:
conn.execute(
    """SELECT *
    FROM sqlite_master"""
).fetchall()

In [ ]:
pd.read_sql(
    """SELECT Player, F_Wins
    FROM tennis"""
, conn)

In [ ]:
pd.read_sql(
    """SELECT *
    FROM tennis_simple"""
, conn2)

In [ ]:
# 2021 Wimble:

# Djokovic
## Berrettini
### Shapovalov, Hurkacz
#### Fucsovics, Khachanov, Auger-Aliassime, Federer

# 2021 US:

# Medvedev
## Djokovic
### Zverev, Auger-Aliassime
#### Berrettini, Harris, Alcaraz, van de Zandschulp

# 2022 Aus:

# Nadal
## Medvedev
### Berrettini, Tsitsipas
#### Monfils, Shapovalov, Sinner, Auger-Aliassime

# UPDATE HERE:
    # Djokovic 1 F Win, 1 SF Win
    # Berrettini 1 SF Win, 1 QF Win, 1 QF Appear
    # Shapovalov 1 QF Win, 1 QF Appear
    # Hurkacz 1 QF Win
    # Fucsovics 1 QF Appear
    # Khachanov 1 QF Appear
    # Auger-Aliassime 1 QF Win, 2 QF Appears
    # Federer 1 QF Appear
    # Medvedev 1 F Win, 1 SF Win
    # Zverev 1 QF Win
    # Harris 1 QF Appear
    # Alcaraz 1 QF Appear
    # van de Zandschulp 1 QF Appear
    # Nadal 1 F Win
    # Tsitsipas 1 QF Win
    # Monfils 1 QF Appear
    # Sinner 1 QF Appear

# 2022 Fr:

# 
## 
### Zverev, Cilic
#### Djokovic, Alcaraz, Rune, Rublev

In [ ]:
conn2.execute(
    """UPDATE tennis_simple
    SET QF_Appears = 51
    WHERE Player = 'Djokovic, Novak'"""
)

In [ ]:
conn2.execute(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Djokovic, Novak'
    """
).fetchall()

In [ ]:
conn2.execute(
    """
    UPDATE tennis_simple
    SET QF_Appears = 51,
        QF_Wins = 42,
        SF_Wins = 31,
        F_Wins = 20,
        Wim_QF_Appears = 12,
        Wim_QF_Wins = 10,
        Wim_SF_Wins = 7,
        Wim_F_Wins = 6,
        US_QF_Appears = 12,
        US_QF_Wins = 12,
        US_SF_Wins = 9,
        US_F_Wins = 3
    WHERE Player = 'Djokovic, Novak'
    """
)

In [ ]:
conn2.execute(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Djokovic, Novak'
    """
).fetchall()

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Djokovic, Novak'
    """
, conn2)

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Berrettini, Matteo'
    """
, conn2)

In [ ]:
conn2.execute(
    """
    UPDATE tennis_simple
    SET QF_Appears = 5,
        QF_Wins = 3,
        SF_Wins = 1,
        Aus_QF_Appears = 1,
        Aus_QF_Wins = 1,
        Wim_QF_Appears = 1,
        Wim_QF_Wins = 1,
        Wim_SF_Wins = 1,
        US_QF_Appears = 2
        
    WHERE Player = 'Berrettini, Matteo'
    """
)

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Berrettini, Matteo'
    """
, conn2)

In [ ]:
conn3 = sqlite3.connect('../Sports-Data/tennis.db')

pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Berrettini, Matteo'
    """
, conn3)

In [ ]:
conn.close()

In [ ]:
conn2.close()

In [ ]:
conn3.close()