## Update .xls

In [1]:
import pandas as pd
import sqlite3

In [ ]:
df = pd.read_excel('../data/Tennis Major Results.xlsx', sheet_name=2)

In [ ]:
df.head()

In [ ]:
df.columns

### Novak Djokovic

In [ ]:
djoker = df[df['PLAYER'] == 'Djokovic, Novak'].copy()
djoker['QF Appears'] += 2
djoker['QF Wins'] += 2
djoker['SF Wins'] += 2
djoker['F Wins'] += 1
djoker['F Losses'] += 1
djoker['QF Pct'] = djoker['QF Wins'] / djoker['QF Appears']
djoker['SF Pct'] = djoker['SF Wins'] / djoker['QF Wins']
djoker['F Pct'] = djoker['F Wins'] / djoker['SF Wins']

In [ ]:
djoker['Wim QF Appears'] += 1
djoker['Wim QF Wins'] += 1
djoker['Wim SF Wins'] += 1
djoker['Wim F Wins'] += 1
djoker['Wim QF Pct'] = djoker['Wim QF Wins'] / djoker['Wim QF Appears']
djoker['Wim SF Pct'] = djoker['Wim SF Wins'] / djoker['Wim QF Wins']
djoker['Wim F Pct'] = djoker['Wim F Wins'] / djoker['Wim SF Wins']
djoker['US QF Appears'] += 1
djoker['US QF Wins'] += 1
djoker['US SF Wins'] += 1
djoker['US F Losses'] += 1
djoker['US QF Pct'] = djoker['US QF Wins'] / djoker['US QF Appears']
djoker['US SF Pct'] = djoker['US SF Wins'] / djoker['US QF Wins']
djoker['US F Pct'] = djoker['US F Wins'] / djoker['US SF Wins']

In [ ]:
df[df['PLAYER'] == 'Djokovic, Novak'] = djoker

### Matteo Berrettini

In [ ]:
berrettini = df[df['PLAYER'] == 'Berrettini, Matteo'].copy()
berrettini['QF Appears'] += 2
berrettini['QF Wins'] += 1
berrettini['QF Losses'] += 1
berrettini['SF Wins'] += 1
berrettini['F Losses'] += 1
berrettini['QF Pct'] = berrettini['QF Wins'] / berrettini['QF Appears']
berrettini['SF Pct'] = berrettini['SF Wins'] / berrettini['QF Wins']
berrettini['F Pct'] = berrettini['F Wins'] / berrettini['SF Wins']

berrettini['Wim QF Appears'] += 1
berrettini['Wim QF Wins'] += 1
berrettini['Wim SF Wins'] += 1
berrettini['Wim F Losses'] += 1
berrettini['Wim QF Pct'] = berrettini['Wim QF Wins'] / berrettini['Wim QF Appears']
berrettini['Wim SF Pct'] = berrettini['Wim SF Wins'] / berrettini['Wim QF Wins']
berrettini['Wim F Pct'] = berrettini['Wim F Wins'] / berrettini['Wim SF Wins']
berrettini['US QF Appears'] += 1
berrettini['US QF Losses'] += 1
berrettini['US QF Pct'] = berrettini['US QF Wins'] / berrettini['US QF Appears']

df[df['PLAYER'] == 'Berrettini, Matteo'] = berrettini

### Denis Shapovalov

In [ ]:
shapovalov = df[df['PLAYER'] == 'Shapovalov, Denis'].copy()
shapovalov['QF Appears'] += 1
shapovalov['QF Wins'] += 1
shapovalov['SF Losses'] += 1
shapovalov['QF Pct'] = shapovalov['QF Wins'] / shapovalov['QF Appears']
shapovalov['SF Pct'] = shapovalov['SF Wins'] / shapovalov['QF Wins']

shapovalov['Wim QF Appears'] += 1
shapovalov['Wim QF Wins'] += 1
shapovalov['Wim SF Losses'] += 1
shapovalov['Wim QF Pct'] = shapovalov['Wim QF Wins'] / shapovalov['Wim QF Appears']
shapovalov['Wim SF Pct'] = shapovalov['Wim SF Wins'] / shapovalov['Wim QF Wins']

df[df['PLAYER'] == 'Shapovalov, Denis'] = shapovalov

### Hubert Hurkacz

In [ ]:
df = df.append({'PLAYER': 'Hurkacz, Hubert', 'QF Appears': 1, 'QF Wins': 1, 'QF Losses': 0,
          'SF Wins': 0, 'SF Losses': 1, 'F Wins': 0, 'F Losses': 0, 'QF Pct': 1,
          'SF Pct': 0, 'F Pct': 0, 'Aus QF Appears': 0, 'Aus QF Wins': 0,
          'Aus QF Losses': 0, 'Aus SF Wins': 0, 'Aus SF Losses': 0, 'Aus F Wins': 0,
          'Aus F Losses': 0, 'Aus QF Pct': 0, 'Aus SF Pct': 0, 'Aus F Pct': 0,
          'Fr QF Appears': 0, 'Fr QF Wins': 0, 'Fr QF Losses': 0, 'Fr SF Wins': 0,
          'Fr SF Losses': 0, 'Fr F Wins': 0, 'Fr F Losses': 0, 'Fr QF Pct': 0,
          'Fr SF Pct': 0, 'Fr F Pct': 0, 'Wim QF Appears': 1, 'Wim QF Wins': 1,
          'Wim QF Losses': 0, 'Wim SF Wins': 0, 'Wim SF Losses': 1, 'Wim F Wins': 0,
          'Wim F Losses': 0, 'Wim QF Pct': 1, 'Wim SF Pct': 0, 'Wim F Pct': 0,
          'US QF Appears': 0, 'US QF Wins': 0, 'US QF Losses': 0, 'US SF Wins': 0,
          'US SF Losses': 0, 'US F Wins': 0, 'US F Losses': 0, 'US QF Pct': 0,
          'US SF Pct': 0, 'US F Pct': 0}, ignore_index=True)

### Marton Fucsovics

In [ ]:
df = df.append({'PLAYER': 'Fucsovics, Marton', 'QF Appears': 1, 'QF Wins': 0, 'QF Losses': 1,
          'SF Wins': 0, 'SF Losses': 0, 'F Wins': 0, 'F Losses': 0, 'QF Pct': 0,
          'SF Pct': 0, 'F Pct': 0, 'Aus QF Appears': 0, 'Aus QF Wins': 0,
          'Aus QF Losses': 0, 'Aus SF Wins': 0, 'Aus SF Losses': 0, 'Aus F Wins': 0,
          'Aus F Losses': 0, 'Aus QF Pct': 0, 'Aus SF Pct': 0, 'Aus F Pct': 0,
          'Fr QF Appears': 0, 'Fr QF Wins': 0, 'Fr QF Losses': 0, 'Fr SF Wins': 0,
          'Fr SF Losses': 0, 'Fr F Wins': 0, 'Fr F Losses': 0, 'Fr QF Pct': 0,
          'Fr SF Pct': 0, 'Fr F Pct': 0, 'Wim QF Appears': 1, 'Wim QF Wins': 0,
          'Wim QF Losses': 1, 'Wim SF Wins': 0, 'Wim SF Losses': 0, 'Wim F Wins': 0,
          'Wim F Losses': 0, 'Wim QF Pct': 0, 'Wim SF Pct': 0, 'Wim F Pct': 0,
          'US QF Appears': 0, 'US QF Wins': 0, 'US QF Losses': 0, 'US SF Wins': 0,
          'US SF Losses': 0, 'US F Wins': 0, 'US F Losses': 0, 'US QF Pct': 0,
          'US SF Pct': 0, 'US F Pct': 0}, ignore_index=True)

### Karen Khachanov

In [ ]:
khachanov = df[df['PLAYER'] == 'Khachanov, Karen'].copy()
khachanov['QF Appears'] += 1
khachanov['QF Losses'] += 1
khachanov['QF Pct'] = khachanov['QF Wins'] / khachanov['QF Appears']

khachanov['Wim QF Appears'] += 1
khachanov['Wim QF Losses'] += 1
khachanov['Wim QF Pct'] = khachanov['Wim QF Wins'] / khachanov['Wim QF Appears']

df[df['PLAYER'] == 'Khachanov, Karen'] = khachanov

### Felix Auger-Aliassime

In [ ]:
df = df.append({'PLAYER': 'Auger-Aliassime, Felix', 'QF Appears': 1, 'QF Wins': 0,
                'QF Losses': 1,
          'SF Wins': 0, 'SF Losses': 0, 'F Wins': 0, 'F Losses': 0, 'QF Pct': 0,
          'SF Pct': 0, 'F Pct': 0, 'Aus QF Appears': 0, 'Aus QF Wins': 0,
          'Aus QF Losses': 0, 'Aus SF Wins': 0, 'Aus SF Losses': 0, 'Aus F Wins': 0,
          'Aus F Losses': 0, 'Aus QF Pct': 0, 'Aus SF Pct': 0, 'Aus F Pct': 0,
          'Fr QF Appears': 0, 'Fr QF Wins': 0, 'Fr QF Losses': 0, 'Fr SF Wins': 0,
          'Fr SF Losses': 0, 'Fr F Wins': 0, 'Fr F Losses': 0, 'Fr QF Pct': 0,
          'Fr SF Pct': 0, 'Fr F Pct': 0, 'Wim QF Appears': 1, 'Wim QF Wins': 0,
          'Wim QF Losses': 1, 'Wim SF Wins': 0, 'Wim SF Losses': 0, 'Wim F Wins': 0,
          'Wim F Losses': 0, 'Wim QF Pct': 0, 'Wim SF Pct': 0, 'Wim F Pct': 0,
          'US QF Appears': 0, 'US QF Wins': 0, 'US QF Losses': 0, 'US SF Wins': 0,
          'US SF Losses': 0, 'US F Wins': 0, 'US F Losses': 0, 'US QF Pct': 0,
          'US SF Pct': 0, 'US F Pct': 0}, ignore_index=True)

In [ ]:
augeraliassime = df[df['PLAYER'] == 'Auger-Aliassime, Felix'].copy()
augeraliassime['QF Appears'] += 1
augeraliassime['QF Wins'] += 1
augeraliassime['SF Losses'] += 1
augeraliassime['QF Pct'] = augeraliassime['QF Wins'] / augeraliassime['QF Appears']
augeraliassime['SF Pct'] = augeraliassime['SF Wins'] / augeraliassime['QF Wins']

augeraliassime['US QF Appears'] += 1
augeraliassime['US QF Wins'] += 1
augeraliassime['US SF Losses'] += 1
augeraliassime['US QF Pct'] = augeraliassime['US QF Wins'] / augeraliassime['US QF Appears']
augeraliassime['US SF Pct'] = augeraliassime['US SF Wins'] / augeraliassime['US QF Wins']

df[df['PLAYER'] == 'Auger-Aliassime, Felix'] = augeraliassime

### Roger Federer

In [ ]:
federer = df[df['PLAYER'] == 'Federer, Roger'].copy()
federer['QF Appears'] += 1
federer['QF Losses'] += 1
federer['QF Pct'] = federer['QF Wins'] / federer['QF Appears']

federer['Wim QF Appears'] += 1
federer['Wim QF Losses'] += 1
federer['Wim QF Pct'] = federer['Wim QF Wins'] / federer['Wim QF Appears']

df[df['PLAYER'] == 'Federer, Roger'] = federer

### Daniil Medvedev

In [ ]:
medvedev = df[df['PLAYER'] == 'Medvedev, Daniil'].copy()
medvedev['QF Appears'] += 1
medvedev['QF Wins'] += 1
medvedev['SF Wins'] += 1
medvedev['F Wins'] += 1
medvedev['QF Pct'] = medvedev['QF Wins'] / medvedev['QF Appears']
medvedev['SF Pct'] = medvedev['SF Wins'] / medvedev['QF Wins']
medvedev['F Pct'] = medvedev['F Wins'] / medvedev['SF Wins']

medvedev['US QF Appears'] += 1
medvedev['US QF Wins'] += 1
medvedev['US SF Wins'] += 1
medvedev['US F Wins'] += 1
medvedev['US QF Pct'] = medvedev['US QF Wins'] / medvedev['US QF Appears']
medvedev['US SF Pct'] = medvedev['US SF Wins'] / medvedev['US QF Wins']
medvedev['US F Pct'] = medvedev['US F Wins'] / medvedev['US SF Wins']

df[df['PLAYER'] == 'Medvedev, Daniil'] = medvedev

### Alexander Zverev

In [ ]:
zverev = df[df['PLAYER'] == 'Zverev, Alexander'].copy()
zverev['QF Appears'] += 1
zverev['QF Wins'] += 1
zverev['SF Losses'] += 1
zverev['QF Pct'] = zverev['QF Wins'] / zverev['QF Appears']
zverev['SF Pct'] = zverev['SF Wins'] / zverev['QF Wins']

zverev['US QF Appears'] += 1
zverev['US QF Wins'] += 1
zverev['US SF Losses'] += 1
zverev['US QF Pct'] = zverev['US QF Wins'] / zverev['US QF Appears']
zverev['US SF Pct'] = zverev['US SF Wins'] / zverev['US QF Wins']

df[df['PLAYER'] == 'Zverev, Alexander'] = zverev

### Lloyd Harris

In [ ]:
df = df.append({'PLAYER': 'Harris, Lloyd', 'QF Appears': 1, 'QF Wins': 0,
                'QF Losses': 1,
          'SF Wins': 0, 'SF Losses': 0, 'F Wins': 0, 'F Losses': 0, 'QF Pct': 0,
          'SF Pct': 0, 'F Pct': 0, 'Aus QF Appears': 0, 'Aus QF Wins': 0,
          'Aus QF Losses': 0, 'Aus SF Wins': 0, 'Aus SF Losses': 0, 'Aus F Wins': 0,
          'Aus F Losses': 0, 'Aus QF Pct': 0, 'Aus SF Pct': 0, 'Aus F Pct': 0,
          'Fr QF Appears': 0, 'Fr QF Wins': 0, 'Fr QF Losses': 0, 'Fr SF Wins': 0,
          'Fr SF Losses': 0, 'Fr F Wins': 0, 'Fr F Losses': 0, 'Fr QF Pct': 0,
          'Fr SF Pct': 0, 'Fr F Pct': 0, 'Wim QF Appears': 0, 'Wim QF Wins': 0,
          'Wim QF Losses': 0, 'Wim SF Wins': 0, 'Wim SF Losses': 0, 'Wim F Wins': 0,
          'Wim F Losses': 0, 'Wim QF Pct': 0, 'Wim SF Pct': 0, 'Wim F Pct': 0,
          'US QF Appears': 1, 'US QF Wins': 0, 'US QF Losses': 1, 'US SF Wins': 0,
          'US SF Losses': 0, 'US F Wins': 0, 'US F Losses': 0, 'US QF Pct': 0,
          'US SF Pct': 0, 'US F Pct': 0}, ignore_index=True)

### Carlos Alcaraz

In [ ]:
df = df.append({'PLAYER': 'Alcaraz, Carlos', 'QF Appears': 1, 'QF Wins': 0,
                'QF Losses': 1,
          'SF Wins': 0, 'SF Losses': 0, 'F Wins': 0, 'F Losses': 0, 'QF Pct': 0,
          'SF Pct': 0, 'F Pct': 0, 'Aus QF Appears': 0, 'Aus QF Wins': 0,
          'Aus QF Losses': 0, 'Aus SF Wins': 0, 'Aus SF Losses': 0, 'Aus F Wins': 0,
          'Aus F Losses': 0, 'Aus QF Pct': 0, 'Aus SF Pct': 0, 'Aus F Pct': 0,
          'Fr QF Appears': 0, 'Fr QF Wins': 0, 'Fr QF Losses': 0, 'Fr SF Wins': 0,
          'Fr SF Losses': 0, 'Fr F Wins': 0, 'Fr F Losses': 0, 'Fr QF Pct': 0,
          'Fr SF Pct': 0, 'Fr F Pct': 0, 'Wim QF Appears': 0, 'Wim QF Wins': 0,
          'Wim QF Losses': 0, 'Wim SF Wins': 0, 'Wim SF Losses': 0, 'Wim F Wins': 0,
          'Wim F Losses': 0, 'Wim QF Pct': 0, 'Wim SF Pct': 0, 'Wim F Pct': 0,
          'US QF Appears': 1, 'US QF Wins': 0, 'US QF Losses': 1, 'US SF Wins': 0,
          'US SF Losses': 0, 'US F Wins': 0, 'US F Losses': 0, 'US QF Pct': 0,
          'US SF Pct': 0, 'US F Pct': 0}, ignore_index=True)

### Botic van de Zandschulp

In [ ]:
df = df.append({'PLAYER': 'van de Zandschulp, Botic', 'QF Appears': 1, 'QF Wins': 0,
                'QF Losses': 1,
          'SF Wins': 0, 'SF Losses': 0, 'F Wins': 0, 'F Losses': 0, 'QF Pct': 0,
          'SF Pct': 0, 'F Pct': 0, 'Aus QF Appears': 0, 'Aus QF Wins': 0,
          'Aus QF Losses': 0, 'Aus SF Wins': 0, 'Aus SF Losses': 0, 'Aus F Wins': 0,
          'Aus F Losses': 0, 'Aus QF Pct': 0, 'Aus SF Pct': 0, 'Aus F Pct': 0,
          'Fr QF Appears': 0, 'Fr QF Wins': 0, 'Fr QF Losses': 0, 'Fr SF Wins': 0,
          'Fr SF Losses': 0, 'Fr F Wins': 0, 'Fr F Losses': 0, 'Fr QF Pct': 0,
          'Fr SF Pct': 0, 'Fr F Pct': 0, 'Wim QF Appears': 0, 'Wim QF Wins': 0,
          'Wim QF Losses': 0, 'Wim SF Wins': 0, 'Wim SF Losses': 0, 'Wim F Wins': 0,
          'Wim F Losses': 0, 'Wim QF Pct': 0, 'Wim SF Pct': 0, 'Wim F Pct': 0,
          'US QF Appears': 1, 'US QF Wins': 0, 'US QF Losses': 1, 'US SF Wins': 0,
          'US SF Losses': 0, 'US F Wins': 0, 'US F Losses': 0, 'US QF Pct': 0,
          'US SF Pct': 0, 'US F Pct': 0}, ignore_index=True)

In [ ]:
df = df.sort_values(['F Wins', 'SF Wins', 'QF Wins', 'QF Appears', 'PLAYER'],
              ascending=[False, False, False, False, True])

In [ ]:
df.to_excel('../data/MensSinglesMajorResultsThru2021.xls')

## Make Tennis .db

In [ ]:
import sqlite3

tennis = pd.read_excel('../data/Tennis Major Results.xlsx',
                      sheet_name=2)

tennis.head()

In [ ]:
conn2 = sqlite3.connect('../data/tennis.db')

conn2.execute(
    """SELECT *
    FROM sqlite_master"""
).fetchall()

In [ ]:
tennis2 = tennis.rename(lambda x: x.replace(' ', '_'), axis=1)

tennis2.columns

In [ ]:
tennis3 = tennis2.drop(['QF_Losses', 'SF_Losses', 'F_Losses',
                       'QF_Pct', 'SF_Pct', 'F_Pct', 'Aus_QF_Losses',
                        'Aus_SF_Losses', 'Aus_F_Losses', 'Aus_QF_Pct',
                        'Aus_SF_Pct', 'Aus_F_Pct', 'Fr_QF_Losses',
                        'Fr_SF_Losses', 'Fr_F_Losses', 'Fr_QF_Pct',
                        'Fr_SF_Pct', 'Fr_F_Pct', 'Wim_QF_Losses',
                        'Wim_SF_Losses', 'Wim_F_Losses', 'Wim_QF_Pct',
                        'Wim_SF_Pct', 'Wim_F_Pct', 'US_QF_Losses',
                        'US_SF_Losses', 'US_F_Losses', 'US_QF_Pct',
                        'US_SF_Pct', 'US_F_Pct'
                       ], axis=1)

In [ ]:
tennis3.to_sql('tennis_simple', conn2)

In [ ]:
conn.execute(
    """SELECT *
    FROM sqlite_master"""
).fetchall()

In [ ]:
pd.read_sql(
    """SELECT Player, F_Wins
    FROM tennis"""
, conn)

In [ ]:
pd.read_sql(
    """SELECT *
    FROM tennis_simple"""
, conn2)

In [ ]:
# 2021 Wimble:

# Djokovic
## Berrettini
### Shapovalov, Hurkacz
#### Fucsovics, Khachanov, Auger-Aliassime, Federer

# 2021 US:

# Medvedev
## Djokovic
### Zverev, Auger-Aliassime
#### Berrettini, Harris, Alcaraz, van de Zandschulp

# 2022 Aus:

# Nadal
## Medvedev
### Berrettini, Tsitsipas
#### Monfils, Shapovalov, Sinner, Auger-Aliassime

# UPDATE HERE:
    # Djokovic 1 F Win, 1 SF Win
    # Berrettini 1 SF Win, 1 QF Win, 1 QF Appear
    # Shapovalov 1 QF Win, 1 QF Appear
    # Hurkacz 1 QF Win
    # Fucsovics 1 QF Appear
    # Khachanov 1 QF Appear
    # Auger-Aliassime 1 QF Win, 2 QF Appears
    # Federer 1 QF Appear
    # Medvedev 1 F Win, 1 SF Win
    # Zverev 1 QF Win
    # Harris 1 QF Appear
    # Alcaraz 1 QF Appear
    # van de Zandschulp 1 QF Appear
    # Nadal 1 F Win
    # Tsitsipas 1 QF Win
    # Monfils 1 QF Appear
    # Sinner 1 QF Appear

# 2022 Fr:

# Nadal
## Ruud
### Zverev, Cilic
#### Djokovic, Alcaraz, Rune, Rublev

In [ ]:
conn2.execute(
    """UPDATE tennis_simple
    SET QF_Appears = 51
    WHERE Player = 'Djokovic, Novak'"""
)

In [ ]:
conn2.execute(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Djokovic, Novak'
    """
).fetchall()

In [ ]:
conn2.execute(
    """
    UPDATE tennis_simple
    SET QF_Appears = 51,
        QF_Wins = 42,
        SF_Wins = 31,
        F_Wins = 20,
        Wim_QF_Appears = 12,
        Wim_QF_Wins = 10,
        Wim_SF_Wins = 7,
        Wim_F_Wins = 6,
        US_QF_Appears = 12,
        US_QF_Wins = 12,
        US_SF_Wins = 9,
        US_F_Wins = 3
    WHERE Player = 'Djokovic, Novak'
    """
)

In [ ]:
conn2.execute(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Djokovic, Novak'
    """
).fetchall()

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Djokovic, Novak'
    """
, conn2)

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Berrettini, Matteo'
    """
, conn2)

In [ ]:
conn2.execute(
    """
    UPDATE tennis_simple
    SET QF_Appears = 5,
        QF_Wins = 3,
        SF_Wins = 1,
        Aus_QF_Appears = 1,
        Aus_QF_Wins = 1,
        Wim_QF_Appears = 1,
        Wim_QF_Wins = 1,
        Wim_SF_Wins = 1,
        US_QF_Appears = 2
        
    WHERE Player = 'Berrettini, Matteo'
    """
)

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Berrettini, Matteo'
    """
, conn2)

In [ ]:
conn3 = sqlite3.connect('../Sports-Data/tennis.db')

pd.read_sql(
    """
    SELECT *
    FROM tennis_simple
    WHERE Player = 'Berrettini, Matteo'
    """
, conn3)

In [ ]:
conn.close()

In [ ]:
conn2.close()

In [ ]:
conn3.close()

## Updating a Row

In [ ]:
"""
    UPDATE tennis_simple
    SET QF_Appears = 9,
        QF_Wins = 9,
        SF_Wins = 9,
        Aus_QF_Appears = 9,
        Aus_QF_Wins = 9,
        Wim_QF_Appears = 9,
        Wim_QF_Wins = 9,
        Wim_SF_Wins = 9,
        US_QF_Appears = 9
        
    WHERE Player = 'YYY, XXX'
"""

## Adding a Row

In [ ]:
"""
    INSERT INTO tennis_simple
    VALUES ('YYY, XXX', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
"""

## 09-06-22

In [5]:
conn = sqlite3.connect('../data/tennis.db')

In [9]:
pd.read_sql(
    """SELECT *
    FROM sqlite_master""", conn
)

,type,name,tbl_name,rootpage,sql
0,table,mens_tennis,mens_tennis,9,"CREATE TABLE mens_tennis (""index"" INTEGER PRIM..."

In [11]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Djokovic, Novak'
    """,
    conn
)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,2,"Djokovic, Novak",53,43,32,21,12,9,9,9,...,6,2,13,11,8,7,12,12,9,3

## 2022 U.S. Open

In [24]:
import pandas as pd
import sqlite3
con = sqlite3.connect("../data/tennis.db")

In [25]:
# QFs
# Khachanov d. Kyrgios
# Ruud d. Berrettini
# Alcaraz d. Sinner
# Tiafoe d. Rublev

# SFs
# Ruud d. Khachanov
# Alcaraz d. Tiafoe

# Fs
# Alcaraz d. Ruud

In [26]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Khachanov, Karen'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,305,"Khachanov, Karen",2,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [27]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 3,
    QF_Wins = 1,
    US_QF_Appears = 1,
    US_QF_Wins = 1
    
    WHERE Player = 'Khachanov, Karen'
    """
)

In [28]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Kyrgios, Nick'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,236,"Kyrgios, Nick",3,1,1,0,1,0,0,0,...,0,0,2,1,1,0,0,0,0,0

In [29]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 4,
    US_QF_Appears = 1
    
    WHERE Player = 'Kyrgios, Nick'
    """
)

In [30]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Ruud, Casper'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,368,"Ruud, Casper",1,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [31]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 2,
    QF_Wins = 2,
    SF_Wins = 2,
    US_QF_Appears = 1,
    US_QF_Wins = 1,
    US_SF_Wins = 1
    
    WHERE Player = 'Ruud, Casper'
    """
)

In [32]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Berrettini, Matteo'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,160,"Berrettini, Matteo",5,3,1,0,1,1,0,0,...,0,0,1,1,1,0,2,1,0,0

In [33]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 6,
    US_QF_Appears = 3
    
    WHERE Player = 'Berrettini, Matteo'
    """
)

In [34]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Alcaraz, Carlos'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,365,"Alcaraz, Carlos",2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [35]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 3,
    QF_Wins = 1,
    SF_Wins = 1,
    F_Wins = 1,
    US_QF_Appears = 2,
    US_QF_Wins = 1,
    US_SF_Wins = 1,
    US_F_Wins = 1
    
    WHERE Player = 'Alcaraz, Carlos'
    """
)

In [36]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Sinner, Jannik'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,343,"Sinner, Jannik",3,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [37]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 4,
    US_QF_Appears = 1
    
    WHERE Player = 'Sinner, Jannik'
    """
)

In [38]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Tiafoe, Frances'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,349,"Tiafoe, Frances",1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 2,
    QF_Wins = 1,
    US_QF_Appears = 1,
    US_QF_Wins = 1
    
    WHERE Player = 'Tiafoe, Frances'
    """
)

In [40]:
pd.read_sql(
    """
    SELECT *
    FROM mens_tennis
    WHERE Player = 'Rublev, Andrey'
    """
, con)

,index,Player,QF_Appears,QF_Wins,SF_Wins,F_Wins,Aus_QF_Appears,Aus_QF_Wins,Aus_SF_Wins,Aus_F_Wins,...,Fr_SF_Wins,Fr_F_Wins,Wim_QF_Appears,Wim_QF_Wins,Wim_SF_Wins,Wim_F_Wins,US_QF_Appears,US_QF_Wins,US_SF_Wins,US_F_Wins
0,211,"Rublev, Andrey",5,0,0,0,1,0,0,0,...,0,0,0,0,0,0,2,0,0,0

In [41]:
con.execute(
    """
    UPDATE mens_tennis
    SET QF_Appears = 6,
    US_QF_Appears = 3
    
    WHERE Player = 'Rublev, Andrey'
    """
)

In [42]:
con.commit()